{{#if deleteItem}}
  {{#each category.products as |product|}}
    {{product-tile product = product}}
    <button class="btn btn-danger"{{action 'delete' product}}>Delete</button>
  {{/each}}
{{else}}
  <button class="btn btn-danger" {{action 'deleteItem'}} >Delete Item</button>
{{/if}}
