<div>
  <h2>{{#link-to 'product-detail' product.id}}{{product.name}}{{/link-to}}</h2>
  {{#link-to 'product-detail' product.id}}<img src="{{product.image}}" alt="{{product.name}}">{{/link-to}}
  <hr>
  <button class="btn btn-primary"{{action 'addToCart' product}}>Add to Cart</button>
</div>
