<div class="container">
  <div class="jumbotron">
    <h2>GIT OUT HUB</h2>
    Never Stop Gitting
  </div>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index'}}<a class="navbar-brand">Home</a>{{/link-to}}
      {{#link-to 'view-cart'}}<a class="navbar-brand">View Cart</a>{{/link-to}}
      {{#link-to 'about'}}<a class="navbar-brand">About</a>{{/link-to}}
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
